@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap');

header{
    background-color: #F1BAA1;
    height: 80px;
    padding: 10px;
    font-weight:500;

}
a{
  color:black;
  text-decoration: none; 
  font-size: 20px;
  margin-left: 250px;
}

.catt{
    border: 1px solid #6D8C00;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color:#6D8C00;
    padding: 3px;
}
body{
    margin: 0;
}
.img2{
    height: 30px;
    width: 50px;
}
h1{
    text-align: center;
}

.tokk{
    float: left;
    font-size: 20px;
}

p{
    line-height: 50px;
    font-weight: 800;
    font-family: "Noto Sans Warang Citi", sans-serif;
    text-shadow: 10px 10px 10px rgb(112, 112, 220);
}

span{
    color:#BCAF4D;
}

footer{
    background-color: #AA1803;
    margin-top: 100px;
}

footer p{
    color: aliceblue;
    padding-left: 650px;
}
